{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-6 mt-1">
        <div class="text-center">
            <h3 style="font-weight: bold">{{ title }}</h3>
        </div>
        {% if books %}
            {% for book in books %}
                {% if book.count != 0 %}
                    <div class="font my-4 p-2">
                        <p style="padding-left: 30px;">Id: {{ book.id }}</p>
                        <p style="padding-left: 30px;">Name: {{ book.name }}</p>
                        <p style="padding-left: 30px;">Genre: {{ book.genre }}</p>
                        <p style="padding-left: 30px;">Author id: {{ book.author.id }}</p>
                        <p style="padding-left: 30px;">Author firstname: {{ book.author.firstname }}</p>
                        <p style="padding-left: 30px;">Author lastname: {{ book.author.lastname }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
