{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-6 mt-1">
        <div class="text-center">
            <h3 style="font-weight: bold">{{ title }}</h3>
        </div>
        {% if books %}
            {% for book in books %}
                {% if book.count != 0 %}
                    <div class="font my-4 p-2">
{#                        <p style="padding-left: 30px;">Id: {{ book.id }}</p>#}
                        <p style="padding-left: 30px;">Название: {{ book.name }}</p>
                        <p style="padding-left: 30px;">Жанр: {{ book.genre }}</p>
{#                        <p style="padding-left: 30px;">Author id: {{ book.author.id }}</p>#}
                        <p style="padding-left: 30px;">Автор: {{ book.author.firstname }} {{ book.author.lastname }}</p>
{#                        <p style="padding-left: 30px;">Author lastname: </p>#}

                        {% if request.COOKIES.jwt %}
                            {% if user.role == 'user' %}
                                {% if action == 'take' %}

                                    <div class="col-3 mr-4 ml-auto">
                                        <a href="{% url 'take_book' library_id book.id %}" role="button"
                                           class="btn btn-outline-dark">Взять книгу</a>
                                    </div>
                                {% endif %}
                                {% if action == 'no' %}

                                    <div class="col-3 mr-4 ml-auto">
                                        <a>Превышен лимит</a>
                                    </div>
                                    <div class="col-3 mr-4 ml-auto">
                                        <a>Невозможно взять книгу</a>
                                    </div>
                                {% endif %}
                                {% if action == 'return' %}
                                    <div class="col-3 mr-4 ml-auto">
                                        <a href="{% url 'return_book' book.id %}" role="button"
                                           class="btn btn-outline-dark">Вернуть книгу</a>
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% if user.role == 'admin' %}
                                <p style="padding-left: 30px;">Количество: {{ book.count }}</p>

                                <div class="col-3 mr-4 ml-auto">
                                    <a href="{% url 'delete_library_book' library_id book.id %}" role="button"
                                       class="btn btn-outline-dark">Удалить книгу</a>
                                </div>
                            {% endif %}

                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}


{#{% blo %}#}

{#{% endblock %}#}

